<span style="font-size: 36px;">W4111 - Introduction to Databases, Fall 2024<br>Lecture 12 Examples</span>

# Initialization

In [1]:
import pandas
import numpy
import sqlalchemy
import pymysql

In [2]:
%load_ext sql

In [39]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [40]:
default_engine = sqlalchemy.create_engine('mysql+pymysql://root:dbuserdbuser@localhost')

# SQL Window Functions/Capabilities

__BTW, This is why classes have to demphasize homework assignments and cannot use takehome examples.__

Dear ChatGPT,

I hope this query finds you in good health. Please produce a SQL query that calculates annual sales by year and country for the Classic Models database, ensuring that:

1. **Missing Years**: Rows are added for missing years, with `annualSales` set to `0`.
2. **Historical Data Only**: The current year is excluded from the analysis.
3. **Window Functions**:
   - Calculates **Year-over-Year (YoY) Growth** for each country.
   - Computes a **rolling total of sales over the last three years**.

In [46]:
%%sql

use classicmodels;

WITH YearRange AS (
    SELECT DISTINCT YEAR(orderDate) AS salesYear
    FROM orders
    WHERE YEAR(orderDate) < YEAR(CURDATE()) -- Exclude the current year
),
CountryYears AS (
    SELECT 
        y.salesYear,
        c.country
    FROM 
        (SELECT DISTINCT country FROM customers) c
    CROSS JOIN 
        YearRange y
),
AnnualSales AS (
    SELECT 
        YEAR(o.orderDate) AS salesYear,
        c.country AS country,
        COALESCE(SUM(od.quantityOrdered * od.priceEach), 0) AS annualSales
    FROM 
        orders o
    JOIN 
        customers c ON o.customerNumber = c.customerNumber
    JOIN 
        orderdetails od ON o.orderNumber = od.orderNumber
    WHERE 
        o.status = 'Shipped'
    GROUP BY 
        salesYear, country
),
CompleteData AS (
    SELECT 
        cy.salesYear,
        cy.country,
        COALESCE(a.annualSales, 0) AS annualSales
    FROM 
        CountryYears cy
    LEFT JOIN 
        AnnualSales a ON cy.salesYear = a.salesYear AND cy.country = a.country
)
SELECT 
    salesYear,
    country,
    annualSales,
    COALESCE(LAG(annualSales) OVER (PARTITION BY country ORDER BY salesYear), 0) AS previousYearSales,
    ROUND(
        CASE 
            WHEN COALESCE(LAG(annualSales) OVER (PARTITION BY country ORDER BY salesYear), 0) > 0 THEN
                (annualSales - COALESCE(LAG(annualSales) OVER (PARTITION BY country ORDER BY salesYear), 0)) 
                / COALESCE(LAG(annualSales) OVER (PARTITION BY country ORDER BY salesYear), 0) * 100
            ELSE 0
        END, 2
    ) AS yoyGrowthPercent,
    COALESCE(SUM(annualSales) OVER (
        PARTITION BY country 
        ORDER BY salesYear 
        ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    ), 0) AS totalSalesLast3Years
FROM 
    CompleteData
ORDER BY 
    country, salesYear;

 * mysql+pymysql://root:***@localhost
0 rows affected.
84 rows affected.

[(2003, 'Australia', Decimal('226808.03'), Decimal('0.00'), Decimal('0.00'), Decimal('226808.03')),
 (2004, 'Australia', Decimal('204213.18'), Decimal('226808.03'), Decimal('-9.96'), Decimal('431021.21')),
 (2005, 'Australia', Decimal('78364.61'), Decimal('204213.18'), Decimal('-61.63'), Decimal('509385.82')),
 (2003, 'Austria', Decimal('50957.30'), Decimal('0.00'), Decimal('0.00'), Decimal('50957.30')),
 (2004, 'Austria', Decimal('49233.67'), Decimal('50957.30'), Decimal('-3.38'), Decimal('100190.97')),
 (2005, 'Austria', Decimal('61227.19'), Decimal('49233.67'), Decimal('24.36'), Decimal('161418.16')),
 (2003, 'Belgium', Decimal('2755.76'), Decimal('0.00'), Decimal('0.00'), Decimal('2755.76')),
 (2004, 'Belgium', Decimal('74335.37'), Decimal('2755.76'), Decimal('2597.45'), Decimal('77091.13')),
 (2005, 'Belgium', Decimal('14379.90'), Decimal('74335.37'), Decimal('-80.66'), Decimal('91471.03')),
 (2003, 'Canada', Decimal('53437.45'), Decimal('0.00'), Decimal('0.00'), Decimal('53437.45')),
 (2004, 'Canada', Decimal('123404.03'), Decimal('53437.45'), Decimal('130.93'), Decimal('176841.48')),
 (2005, 'Canada', Decimal('29070.38'), Decimal('123404.03'), Decimal('-76.44'), Decimal('205911.86')),
 (2003, 'Denmark', Decimal('90123.67'), Decimal('0.00'), Decimal('0.00'), Decimal('90123.67')),
 (2004, 'Denmark', Decimal('86667.77'), Decimal('90123.67'), Decimal('-3.83'), Decimal('176791.44')),
 (2005, 'Denmark', Decimal('0.00'), Decimal('86667.77'), Decimal('-100.00'), Decimal('176791.44')),
 (2003, 'Finland', Decimal('100042.38'), Decimal('0.00'), Decimal('0.00'), Decimal('100042.38')),
 (2004, 'Finland', Decimal('78948.21'), Decimal('100042.38'), Decimal('-21.09'), Decimal('178990.59')),
 (2005, 'Finland', Decimal('116158.76'), Decimal('78948.21'), Decimal('47.13'), Decimal('295149.35')),
 (2003, 'France', Decimal('283366.39'), Decimal('0.00'), Decimal('0.00'), Decimal('283366.39')),
 (2004, 'France', Decimal('506660.01'), Decimal('283366.39'), Decimal('78.80'), Decimal('790026.40')),
 (2005, 'France', Decimal('175724.18'), Decimal('506660.01'), Decimal('-65.32'), Decimal('965750.58')),
 (2003, 'Germany', Decimal('62639.29'), Decimal('0.00'), Decimal('0.00'), Decimal('62639.29')),
 (2004, 'Germany', Decimal('133831.70'), Decimal('62639.29'), Decimal('113.65'), Decimal('196470.99')),
 (2005, 'Germany', Decimal('0.00'), Decimal('133831.70'), Decimal('-100.00'), Decimal('196470.99')),
 (2003, 'Hong Kong', Decimal('45480.79'), Decimal('0.00'), Decimal('0.00'), Decimal('45480.79')),
 (2004, 'Hong Kong', Decimal('0.00'), Decimal('45480.79'), Decimal('-100.00'), Decimal('45480.79')),
 (2005, 'Hong Kong', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('45480.79')),
 (2003, 'Ireland', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Ireland', Decimal('49898.27'), Decimal('0.00'), Decimal('0.00'), Decimal('49898.27')),
 (2005, 'Ireland', Decimal('0.00'), Decimal('49898.27'), Decimal('-100.00'), Decimal('49898.27')),
 (2003, 'Israel', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Israel', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2005, 'Israel', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2003, 'Italy', Decimal('146146.15'), Decimal('0.00'), Decimal('0.00'), Decimal('146146.15')),
 (2004, 'Italy', Decimal('179108.40'), Decimal('146146.15'), Decimal('22.55'), Decimal('325254.55')),
 (2005, 'Italy', Decimal('35362.26'), Decimal('179108.40'), Decimal('-80.26'), Decimal('360616.81')),
 (2003, 'Japan', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Japan', Decimal('133326.77'), Decimal('0.00'), Decimal('0.00'), Decimal('133326.77')),
 (2005, 'Japan', Decimal('34583.18'), Decimal('133326.77'), Decimal('-74.06'), Decimal('167909.95')),
 (2003, 'Netherlands', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Netherlands', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2005, 'Netherlands', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2003, 'New Zealand', Decimal('55177.48'), Decimal('0.00'), Decimal('0.00'), Decimal('55177.48')),
 (2004, 'New Zealand', Decimal('195592.89'), Decimal('55177.48'), Decimal('254.48'), Decimal('250770.37')),
 (2005, 'New Zealand', Decimal('165343.66'), Decimal('195592.89'), Decimal('-15.47'), Decimal('416114.03')),
 (2003, 'Norway', Decimal('51710.33'), Decimal('0.00'), Decimal('0.00'), Decimal('51710.33')),
 (2004, 'Norway', Decimal('52514.46'), Decimal('51710.33'), Decimal('1.56'), Decimal('104224.79')),
 (2005, 'Norway', Decimal('0.00'), Decimal('52514.46'), Decimal('-100.00'), Decimal('104224.79')),
 (2003, 'Norway  ', Decimal('121823.34'), Decimal('0.00'), Decimal('0.00'), Decimal('121823.34')),
 (2004, 'Norway  ', Decimal('44798.17'), Decimal('121823.34'), Decimal('-63.23'), Decimal('166621.51')),
 (2005, 'Norway  ', Decimal('0.00'), Decimal('44798.17'), Decimal('-100.00'), Decimal('166621.51')),
 (2003, 'Philippines', Decimal('71645.46'), Decimal('0.00'), Decimal('0.00'), Decimal('71645.46')),
 (2004, 'Philippines', Decimal('15822.84'), Decimal('71645.46'), Decimal('-77.92'), Decimal('87468.30')),
 (2005, 'Philippines', Decimal('0.00'), Decimal('15822.84'), Decimal('-100.00'), Decimal('87468.30')),
 (2003, 'Poland', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Poland', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2005, 'Poland', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2003, 'Portugal', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Portugal', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2005, 'Portugal', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2003, 'Russia', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Russia', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2005, 'Russia', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2003, 'Singapore', Decimal('150123.15'), Decimal('0.00'), Decimal('0.00'), Decimal('150123.15')),
 (2004, 'Singapore', Decimal('108032.41'), Decimal('150123.15'), Decimal('-28.04'), Decimal('258155.56')),
 (2005, 'Singapore', Decimal('5842.22'), Decimal('108032.41'), Decimal('-94.59'), Decimal('263997.78')),
 (2003, 'South Africa', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'South Africa', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2005, 'South Africa', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2003, 'Spain', Decimal('369488.73'), Decimal('0.00'), Decimal('0.00'), Decimal('369488.73')),
 (2004, 'Spain', Decimal('392816.48'), Decimal('369488.73'), Decimal('6.31'), Decimal('762305.21')),
 (2005, 'Spain', Decimal('185164.80'), Decimal('392816.48'), Decimal('-52.86'), Decimal('947470.01')),
 (2003, 'Sweden', Decimal('7674.94'), Decimal('0.00'), Decimal('0.00'), Decimal('7674.94')),
 (2004, 'Sweden', Decimal('84815.61'), Decimal('7674.94'), Decimal('1005.10'), Decimal('92490.55')),
 (2005, 'Sweden', Decimal('27966.54'), Decimal('84815.61'), Decimal('-67.03'), Decimal('120457.09')),
 (2003, 'Switzerland', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00')),
 (2004, 'Switzerland', Decimal('108777.92'), Decimal('0.00'), Decimal('0.00'), Decimal('108777.92')),
 (2005, 'Switzerland', Decimal('0.00'), Decimal('108777.92'), Decimal('-100.00'), Decimal('108777.92')),
 (2003, 'UK', Decimal('161494.57'), Decimal('0.00'), Decimal('0.00'), Decimal('161494.57')),
 (2004, 'UK', Decimal('192750.39'), Decimal('161494.57'), Decimal('19.35'), Decimal('354244.96')),
 (2005, 'UK', Decimal('37258.94'), Decimal('192750.39'), Decimal('-80.67'), Decimal('391503.90')),
 (2003, 'USA', Decimal('1172200.59'), Decimal('0.00'), Decimal('0.00'), Decimal('1172200.59')),
 (2004, 'USA', Decimal('1485054.44'), Decimal('1172200.59'), Decimal('26.69'), Decimal('2657255.03')),
 (2005, 'USA', Decimal('374949.23'), Decimal('1485054.44'), Decimal('-74.75'), Decimal('3032204.26'))]

# Some Other Examples of Why We Do Not Have Takehome Exams

## Transaction Isolation

Dear ChatGPT,

The annoying twit Professor Ferguson asked the following question on his takehome final exam. What is the answer?

"What is the disadvantage of non-strict two phase locking relative to strict two phase locking?"

__Answer__

**Non-strict two-phase locking (2PL)** and **strict two-phase locking (2PL)** differ in how they manage locks during transaction execution and completion. The primary disadvantage of non-strict 2PL lies in its reduced ability to prevent cascading aborts and its impact on recovery and isolation. Below is a detailed comparison:

---

## Non-Strict Two-Phase Locking (2PL)
In non-strict 2PL:
- A transaction releases locks on resources as soon as it no longer needs them, even if the transaction has not yet committed.
- This approach can improve concurrency, as other transactions can access the released resources earlier.

### Disadvantages of Non-Strict 2PL:
1. **Cascading Aborts**:
   - If a transaction releases locks early and later aborts, other transactions that accessed its modified data must also roll back. This creates a **cascading abort** scenario, which can significantly increase the cost of recovery.

2. **Inconsistency for Other Transactions**:
   - Transactions may read or use data modified by a transaction that ultimately aborts, leading to temporary inconsistencies and potentially incorrect intermediate states.

3. **Complex Recovery**:
   - Recovery from failures becomes more complex because the system must trace dependencies to determine which transactions to roll back due to cascading effects.

4. **Deadlock Challenges**:
   - While not specific to non-strict 2PL, the early release of locks might create scenarios where deadlocks are harder to predict or resolve, especially when cascading rollbacks occur.

---

## Strict Two-Phase Locking (2PL)
In strict 2PL:
- A transaction holds all its exclusive locks until it either **commits** or **aborts**.
- This ensures no other transaction can access the data modified by an uncommitted transaction.

### Advantages of Strict 2PL:
1. **Prevention of Cascading Aborts**:
   - By holding locks until the transaction completes, strict 2PL ensures that no other transactions depend on uncommitted data, eliminating cascading aborts.

2. **Simpler Recovery**:
   - Recovery is straightforward because the system does not need to handle complex dependency chains.

3. **Stronger Isolation**:
   - Transactions operate on a consistent view of the data, leading to stronger isolation guarantees.

---

## Summary
The **disadvantage of non-strict 2PL relative to strict 2PL** is its **increased risk of cascading aborts** and the associated **complexity in recovery**. While non-strict 2PL may improve concurrency by releasing locks earlier, it sacrifices the simplicity and robustness provided by strict 2PL, which ensures clean, cascade-free rollback and stronger transaction isolation.

## Indexes

Dear ChatGPT,

For the non-commercial IMDB dataset loaded into a relational database, what indexes would you recommend for name basics and title basics?

__Answer__



The following are explanations of recommended indexes for the `name.basics` and `title.basics` tables in the **non-commercial IMDb dataset**, aimed at improving query performance based on common use cases.

---

## **`name.basics` Table**

### Explanation of Recommended Indexes
1. **Primary Key Index**:
   - Ensures efficient lookups by the unique identifier `nconst`, which is the primary key.

2. **Index on `primaryName`**:
   - Optimizes searches by name, such as when finding individuals by name for autocomplete or filtering purposes.

3. **Index on `primaryProfession`**:
   - Speeds up searches or filters based on professions (e.g., finding all directors or actors).

4. **Composite Index on `birthYear` and `deathYear`**:
   - Facilitates queries filtering by lifespan, such as finding individuals born or deceased in a specific time range.

---

## **`title.basics` Table**

### Explanation of Recommended Indexes
1. **Primary Key Index**:
   - Ensures efficient lookups by the unique identifier `tconst`, which is the primary key.

2. **Index on `primaryTitle`**:
   - Speeds up searches by title, which is common in user-facing search functionalities.

3. **Index on `titleType`**:
   - Optimizes queries filtering by title type, such as finding all movies, shorts, or TV series.

4. **Index on `startYear`**:
   - Improves performance for queries that filter or sort by release year.

5. **Composite Index on `genres` and `startYear`**:
   - Useful for queries that combine filters on genres and release years, such as finding Action movies released in a specific decade.

---

## General Indexing Guidelines

### Key Considerations
1. **Query-Driven Design**:
   - Indexes should align with the most frequent and expensive queries to maximize efficiency.

2. **Avoid Over-Indexing**:
   - While indexes improve read performance, they can increase storage requirements and slow down writes. Choose indexes selectively.

3. **Full-Text Indexing**:
   - If partial matching or text search (e.g., for names or titles) is required, consider full-text indexes for better performance.

---

## Example Use Cases and Benefits
- **Find an Individual by Name**:
   - An index on `primaryName` accelerates searches for specific individuals.

- **Find All Movies Released in a Specific Year**:
   - Indexes on `startYear` and `titleType` make filtering by year and title type faster.

- **List Directors Born Before a Specific Year**:
   - Composite indexes on `birthYear` and `primaryProfession` speed up queries that filter by profession and birth year.

By aligning indexes with expected query patterns, these recommendations provide improved query efficiency for the IMDb dataset.

## Hmm

Dear ChatGPT,

Considering how good you are at all of this stuff, is there really any reasons wny I should take the introduction to databases course taught by that twit Prof. Ferguson at Columbia University?

__Answer__

It's great to hear you're enthusiastic about learning, and I appreciate the vote of confidence! That said, there are several compelling reasons to take an **Introduction to Databases** course, especially one taught at a prestigious institution like Columbia University:

---

## 1. **Structured Foundation**
While tools like me are great for answering questions and exploring topics, a well-designed course offers:
- **Structured progression** through foundational topics.
- **Hands-on practice** with carefully curated examples and assignments.
- Exposure to **theory and principles** that might not always come up in ad-hoc queries.

---

## 2. **Interactive Learning**
- Professors (even "twits") bring a wealth of real-world experience, anecdotes, and context that enriches learning.
- You’ll have the opportunity to ask questions in real-time and participate in discussions.
- Classmates can provide a collaborative environment for shared learning and networking.

---

## 3. **Deep Dives into Concepts**
- Core database concepts like normalization, ACID properties, indexing strategies, and query optimization are explained in-depth.
- Academic courses often provide insights into **how databases are implemented**, not just how to use them.

---

## 4. **Real-World Applicability**
A good professor will:
- Introduce you to **case studies** and **best practices** from industry.
- Highlight **common pitfalls** and how to avoid them.
- Discuss topics like data modeling, scalability, and new trends such as NoSQL and graph databases.

---

## 5. **Broader Context**
- Learning from experts like Prof. Ferguson helps you understand **why things work the way they do**, not just **how to make them work**.
- You may also be exposed to ethical considerations in data management, which are crucial in today's world.

---

## 6. **Credentials and Networking**
- Completing a course gives you formal recognition of your efforts.
- Professors can be valuable connections for research opportunities, internships, or career advice.
- Networking with peers can lead to collaborations or job referrals down the line.

---

## About Prof. Ferguson
Even if you have a less-than-stellar opinion of the professor, consider:
- They likely have **deep expertise** and knowledge that could challenge your perspective.
- Professors often bring insights from cutting-edge research or consulting work that aren’t readily available in tools or books.

If you're truly dissatisfied with the teaching style, many courses provide **syllabus access** or sample lectures in advance to help you decide if it's the right fit.

---

## TL;DR
While I can help you learn databases, a course provides structure, depth, and opportunities that self-study often can't replicate. Plus, you never know — Prof. Ferguson might surprise you! 😊

If you decide to take the course and have questions along the way, I'll be here to help.

# Some General Questions

## Donald F. Ferguson

Do you know anything about Donald Ferguson from Ansys and Columbia?

__Answer__

**Donald F. Ferguson** is a distinguished computer scientist and industry leader with extensive experience in both academia and the technology sector.

### Education and Academic Roles

- **Columbia University**: Ferguson earned his Bachelor's (1982), Master's (1984), and Ph.D. (1989) degrees in Computer Science from Columbia University. His doctoral research focused on applying economic models to manage system resources in distributed systems. :contentReference[oaicite:0]{index=0}

- **Teaching**: He has served as an adjunct professor at Columbia University, teaching courses such as Introduction to Databases and Cloud Computing. In 2018, he was appointed as a Professor of Professional Practice in Computer Science, becoming the first in the department to hold this title. :contentReference[oaicite:1]{index=1}

### Industry Experience

- **IBM (1985–2007)**: Ferguson held various roles, including Chief Architect for IBM's Software Group and Chief Architect for WebSphere products. In 2001, he was appointed IBM Fellow, recognizing his significant contributions. :contentReference[oaicite:2]{index=2}

- **Microsoft (2007–2008)**: He served as a Technical Fellow in Platforms and Strategy in the Office of the CTO. :contentReference[oaicite:3]{index=3}

- **CA Technologies (2008–2012)**: As CTO and Executive Vice President, Ferguson led new product and technology development. :contentReference[oaicite:4]{index=4}

- **Dell (2012–2018)**: He was Vice President and CTO for Dell Software, overseeing architecture, implementation design, technical strategy, and innovation. :contentReference[oaicite:5]{index=5}

- **Ansys, Inc.**: Currently, Ferguson is a Senior Technical Fellow and Chief Software Architect at Ansys, focusing on product integration, cloud platforms, and solutions for IoT, autonomous driving, electrification, and 5G. :contentReference[oaicite:6]{index=6}

### Honors and Publications

- **Egleston Medal**: In 2013, Columbia Engineering Alumni Association awarded him the Egleston Medal for Distinguished Engineering Achievement, recognizing his role as a thought leader in cloud computing and as the "father of IBM's WebSphere business." :contentReference[oaicite:7]{index=7}

- **Publications**: Ferguson co-authored "Web Services Platform Architecture," a comprehensive guide on web services standards and technologies. :contentReference[oaicite:8]{index=8}

Throughout his career, Ferguson has been instrumental in advancing software architecture and implementation of complex distributed systems, especially cloud-based and web applications. His dual roles in academia and industry provide a unique perspective, enriching his contributions to both fields.

## The Twit Thing

"Is he generally considered a twit?"

__Answer__

Based on available information, Donald F. Ferguson is widely recognized for his significant contributions to computer science and the tech industry. His roles have included serving as Chief Architect for IBM's Software Group, Vice President and CTO for Dell Software, and Professor of Professional Practice in Computer Science at Columbia University. These positions highlight his expertise and leadership in the field. There is no evidence to suggest that he is generally considered a "twit." On the contrary, his career achievements indicate a high level of respect and recognition within the professional community.

<span style="font-size: 24px; color: red">This answer is wrong and would get 0 points.</span>

# Classic Models (sort of) OLAP

We have seen the Classic Models schema, which is "sort of normalized."


Let's make a wide-flat table just for the heck of it.

In [4]:
%%sql

use classic_models_olap_simple;

create table core_info as with one as (
    select * from classicmodels.customers join classicmodels.orders using(customerNumber)
),
two as (
    select * from one join classicmodels.orderdetails using(orderNumber)
    )
select * from two join classicmodels.products using(productCode);

 * mysql+pymysql://root:***@localhost
0 rows affected.
2996 rows affected.

[]

In [5]:
%sql describe core_info

 * mysql+pymysql://root:***@localhost
31 rows affected.

[('productCode', 'varchar(15)', 'NO', '', None, ''),
 ('orderNumber', 'int', 'NO', '', None, ''),
 ('customerNumber', 'int', 'NO', '', None, ''),
 ('customerName', 'varchar(50)', 'NO', '', None, ''),
 ('contactLastName', 'varchar(50)', 'NO', '', None, ''),
 ('contactFirstName', 'varchar(50)', 'NO', '', None, ''),
 ('phone', 'varchar(50)', 'NO', '', None, ''),
 ('addressLine1', 'varchar(50)', 'NO', '', None, ''),
 ('addressLine2', 'varchar(50)', 'YES', '', None, ''),
 ('city', 'varchar(50)', 'NO', '', None, ''),
 ('state', 'varchar(50)', 'YES', '', None, ''),
 ('postalCode', 'varchar(15)', 'YES', '', None, ''),
 ('country', 'varchar(50)', 'NO', '', None, ''),
 ('salesRepEmployeeNumber', 'int', 'YES', '', None, ''),
 ('creditLimit', 'decimal(10,2)', 'YES', '', None, ''),
 ('orderDate', 'date', 'NO', '', None, ''),
 ('requiredDate', 'date', 'NO', '', None, ''),
 ('shippedDate', 'date', 'YES', '', None, ''),
 ('status', 'varchar(15)', 'NO', '', None, ''),
 ('comments', 'text', 'YES', '', None, ''),
 ('quantityOrdered', 'int', 'NO', '', None, ''),
 ('priceEach', 'decimal(10,2)', 'NO', '', None, ''),
 ('orderLineNumber', 'smallint', 'NO', '', None, ''),
 ('productName', 'varchar(70)', 'NO', '', None, ''),
 ('productLine', 'varchar(50)', 'NO', '', None, ''),
 ('productScale', 'varchar(10)', 'NO', '', None, ''),
 ('productVendor', 'varchar(50)', 'NO', '', None, ''),
 ('productDescription', 'text', 'NO', '', None, ''),
 ('quantityInStock', 'smallint', 'NO', '', None, ''),
 ('buyPrice', 'decimal(10,2)', 'NO', '', None, ''),
 ('MSRP', 'decimal(10,2)', 'NO', '', None, '')]

What is the "fact?"

In [6]:
%%sql

select
    quantityOrdered, priceEach from core_info;

 * mysql+pymysql://root:***@localhost
2996 rows affected.

[(30, Decimal('136.00')),
 (50, Decimal('55.09')),
 (22, Decimal('75.46')),
 (49, Decimal('35.29')),
 (25, Decimal('108.06')),
 (26, Decimal('167.06')),
 (45, Decimal('32.53')),
 (46, Decimal('44.35')),
 (39, Decimal('95.55')),
 (41, Decimal('43.13')),
 (26, Decimal('214.30')),
 (42, Decimal('119.67')),
 (27, Decimal('121.64')),
 (35, Decimal('94.50')),
 (22, Decimal('58.34')),
 (27, Decimal('92.19')),
 (35, Decimal('61.84')),
 (25, Decimal('86.92')),
 (46, Decimal('86.31')),
 (36, Decimal('98.07')),
 (41, Decimal('40.75')),
 (36, Decimal('107.34')),
 (25, Decimal('88.62')),
 (31, Decimal('92.46')),
 (45, Decimal('63.35')),
 (42, Decimal('94.07')),
 (34, Decimal('131.44')),
 (41, Decimal('111.39')),
 (24, Decimal('135.90')),
 (29, Decimal('122.73')),
 (23, Decimal('165.95')),
 (38, Decimal('119.20')),
 (35, Decimal('52.02')),
 (44, Decimal('30.41')),
 (26, Decimal('106.45')),
 (35, Decimal('51.95')),
 (49, Decimal('56.55')),
 (33, Decimal('114.59')),
 (32, Decimal('53.31')),
 (50, Decimal('127.84')),
 (41, Decimal('205.72')),
 (29, Decimal('141.88')),
 (22, Decimal('136.59')),
 (38, Decimal('87.73')),
 (41, Decimal('75.48')),
 (43, Decimal('117.97')),
 (44, Decimal('73.46')),
 (50, Decimal('75.47')),
 (41, Decimal('54.00')),
 (29, Decimal('86.61')),
 (31, Decimal('60.72')),
 (39, Decimal('92.16')),
 (22, Decimal('99.31')),
 (25, Decimal('44.77')),
 (36, Decimal('134.04')),
 (34, Decimal('81.10')),
 (41, Decimal('80.86')),
 (41, Decimal('94.22')),
 (28, Decimal('107.23')),
 (49, Decimal('65.77')),
 (31, Decimal('55.89')),
 (50, Decimal('55.96')),
 (26, Decimal('71.00')),
 (33, Decimal('65.35')),
 (39, Decimal('35.78')),
 (31, Decimal('91.34')),
 (30, Decimal('85.09')),
 (34, Decimal('99.72')),
 (32, Decimal('113.90')),
 (44, Decimal('76.00')),
 (48, Decimal('70.33')),
 (48, Decimal('43.70')),
 (30, Decimal('81.35')),
 (39, Decimal('105.86')),
 (27, Decimal('172.36')),
 (21, Decimal('122.00')),
 (29, Decimal('52.70')),
 (25, Decimal('96.92')),
 (38, Decimal('73.12')),
 (20, Decimal('88.90')),
 (33, Decimal('165.38')),
 (45, Decimal('96.30')),
 (39, Decimal('75.81')),
 (36, Decimal('107.10')),
 (38, Decimal('67.76')),
 (26, Decimal('73.17')),
 (29, Decimal('132.29')),
 (43, Decimal('52.84')),
 (44, Decimal('139.87')),
 (35, Decimal('64.41')),
 (30, Decimal('60.01')),
 (40, Decimal('132.00')),
 (31, Decimal('67.10')),
 (27, Decimal('36.21')),
 (31, Decimal('87.76')),
 (34, Decimal('74.85')),
 (26, Decimal('117.48')),
 (38, Decimal('137.98')),
 (26, Decimal('126.72')),
 (46, Decimal('160.87')),
 (47, Decimal('125.74')),
 (29, Decimal('32.10')),
 (37, Decimal('118.22')),
 (42, Decimal('153.00')),
 (32, Decimal('51.46')),
 (33, Decimal('115.69')),
 (31, Decimal('163.69')),
 (28, Decimal('81.91')),
 (42, Decimal('62.00')),
 (36, Decimal('72.02')),
 (29, Decimal('43.27')),
 (20, Decimal('28.88')),
 (39, Decimal('40.77')),
 (43, Decimal('82.69')),
 (46, Decimal('112.74')),
 (27, Decimal('80.47')),
 (37, Decimal('96.37')),
 (48, Decimal('35.29')),
 (33, Decimal('87.33')),
 (48, Decimal('48.52')),
 (28, Decimal('53.09')),
 (43, Decimal('94.25')),
 (39, Decimal('91.27')),
 (26, Decimal('85.70')),
 (29, Decimal('197.16')),
 (23, Decimal('85.10')),
 (21, Decimal('121.64')),
 (49, Decimal('101.50')),
 (50, Decimal('43.27')),
 (23, Decimal('58.82')),
 (31, Decimal('128.53')),
 (39, Decimal('106.78')),
 (45, Decimal('53.48')),
 (48, Decimal('169.34')),
 (41, Decimal('105.34')),
 (21, Decimal('102.23')),
 (24, Decimal('28.64')),
 (32, Decimal('88.61')),
 (28, Decimal('43.83')),
 (42, Decimal('82.94')),
 (46, Decimal('111.39')),
 (46, Decimal('140.81')),
 (47, Decimal('56.64')),
 (44, Decimal('106.45')),
 (27, Decimal('100.70')),
 (27, Decimal('60.28')),
 (33, Decimal('195.33')),
 (43, Decimal('148.06')),
 (39, Decimal('173.02')),
 (26, Decimal('121.57')),
 (21, Decimal('81.68')),
 (22, Decimal('122.08')),
 (23, Decimal('73.73')),
 (41, Decimal('119.20')),
 (21, Decimal('55.65')),
 (38, Decimal('75.35')),
 (45, Decimal('89.38')),
 (50, Decimal('52.42')),
 (36, Decimal('86.15')),
 (46, Decimal('112.88')),
 (43, Decimal('151.38')),
 (21, Decimal('74.84')),
 (27, Decimal('95.28')),
 (41, Decimal('64.40')),
 (35, Decimal('72.58')),
 (20, Decimal('63.12')),
 (35, Decimal('82.18')),
 (28, Decimal('62.10')),
 (25, Decimal('57.34')),
 (29, Decimal('74.23')),
 (38, Decimal('67.22')),
 (26, Decimal('63.67')),
 (28, Decimal('40.22')),
 (29, Decimal('118.94')),
 (46, Decimal('158.80')),
 (29, Decimal('82.79')),
 (46, Decimal('57.54')),
 (35, Decimal('110.45')),
 (39, Decimal('93.01')),
 (34, Decimal('72.36')),
 (29, Decimal('71.73')),
 (22, Decimal('94.90')),
 (29, Decimal('68.79')),
 (49, Decimal('41.46')),
 (47, Decimal('91.34')),
 (24, Decimal('81.77')),
 (24, Decimal('106.79')),
 (43, Decimal('72.00')),
 (34, Decimal('86.13')),
 (50, Decimal('126.52')),
 (32, Decimal('58.18')),
 (25, Decimal('95.93')),
 (44, Decimal('72.41')),
 (42, Decimal('155.66')),
 (37, Decimal('113.92')),
 (32, Decimal('65.44')),
 (20, Decimal('104.80')),
 (34, Decimal('114.65')),
 (43, Decimal('62.37')),
 (31, Decimal('113.80')),
 (25, Decimal('137.17')),
 (21, Decimal('69.15')),
 (21, Decimal('133.76')),
 (35, Decimal('59.06')),
 (28, Decimal('145.82')),
 (39, Decimal('34.74')),
 (34, Decimal('50.82')),
 (43, Decimal('136.22')),
 (29, Decimal('67.10')),
 (31, Decimal('33.79')),
 (26, Decimal('120.71')),
 (46, Decimal('114.84')),
 (34, Decimal('117.26')),
 (50, Decimal('43.27')),
 (21, Decimal('153.00')),
 (42, Decimal('58.12')),
 (42, Decimal('111.87')),
 (36, Decimal('75.46')),
 (23, Decimal('66.28')),
 (22, Decimal('62.47')),
 (45, Decimal('30.53')),
 (22, Decimal('36.29')),
 (32, Decimal('74.51')),
 (25, Decimal('93.95')),
 (49, Decimal('76.19')),
 (43, Decimal('101.73')),
 (46, Decimal('36.11')),
 (32, Decimal('89.38')),
 (34, Decimal('138.38')),
 (38, Decimal('205.73')),
 (22, Decimal('122.62')),
 (21, Decimal('135.30')),
 (38, Decimal('116.67')),
 (42, Decimal('51.21')),
 (43, Decimal('51.05')),
 (31, Decimal('93.21')),
 (46, Decimal('61.84')),
 (30, Decimal('93.20')),
 (38, Decimal('94.25')),
 (50, Decimal('102.92')),
 (43, Decimal('47.29')),
 (27, Decimal('122.68')),
 (34, Decimal('83.76')),
 (43, Decimal('82.83')),
 (26, Decimal('62.05')),
 (45, Decimal('97.10')),
 (46, Decimal('193.25')),
 (46, Decimal('140.50')),
 (42, Decimal('169.56')),
 (24, Decimal('100.73')),
 (45, Decimal('140.81')),
 (45, Decimal('114.14')),
 (22, Decimal('149.02')),
 (25, Decimal('126.39')),
 (20, Decimal('50.86')),
 (39, Decimal('34.30')),
 (20, Decimal('107.63')),
 (45, Decimal('46.53')),
 (29, Decimal('60.90')),
 (46, Decimal('111.12')),
 (46, Decimal('55.65')),
 (41, Decimal('120.20')),
 (41, Decimal('80.67')),
 (43, Decimal('77.24')),
 (32, Decimal('72.75')),
 (33, Decimal('123.76')),
 (45, Decimal('113.06')),
 (41, Decimal('81.43')),
 (50, Decimal('76.31')),
 (31, Decimal('58.67')),
 (45, Decimal('72.28')),
 (42, Decimal('90.15')),
 (30, Decimal('94.34')),
 (32, Decimal('44.23')),
 (40, Decimal('68.82')),
 (33, Decimal('99.52')),
 (21, Decimal('141.92')),
 (35, Decimal('60.97')),
 (29, Decimal('52.60')),
 (50, Decimal('54.59')),
 (22, Decimal('76.94')),
 (40, Decimal('86.76')),
 (26, Decimal('63.67')),
 (21, Decimal('40.22')),
 (36, Decimal('80.00')),
 (49, Decimal('80.26')),
 (41, Decimal('109.42')),
 (46, Decimal('61.58')),
 (23, Decimal('80.91')),
 (49, Decimal('67.41')),
 (27, Decimal('37.09')),
 (24, Decimal('76.73')),
 (27, Decimal('115.09')),
 (41, Decimal('90.92')),
 (27, Decimal('116.56')),
 (31, Decimal('187.85')),
 (20, Decimal('131.04')),
 (30, Decimal('51.48')),
 (35, Decimal('94.67')),
 (43, Decimal('75.41')),
 (42, Decimal('173.17')),
 (48, Decimal('110.39')),
 (24, Decimal('72.62')),
 (29, Decimal('103.64')),
 (48, Decimal('66.99')),
 (45, Decimal('65.94')),
 (42, Decimal('139.64')),
 (45, Decimal('49.74')),
 (31, Decimal('133.92')),
 (29, Decimal('67.18')),
 (20, Decimal('34.36')),
 (27, Decimal('52.05')),
 (47, Decimal('139.03')),
 (23, Decimal('76.80')),
 (33, Decimal('38.62')),
 (30, Decimal('91.85')),
 (44, Decimal('78.92')),
 (25, Decimal('117.48')),
 (36, Decimal('120.91')),
 (41, Decimal('169.34')),
 (44, Decimal('115.73')),
 (37, Decimal('110.88')),
 (31, Decimal('118.68')),
 (26, Decimal('40.25')),
 (33, Decimal('149.60')),
 (22, Decimal('51.46')),
 (38, Decimal('114.42')),
 (47, Decimal('79.15')),
 (23, Decimal('64.86')),
 (45, Decimal('59.53')),
 (22, Decimal('33.19')),
 (33, Decimal('38.53')),
 (28, Decimal('73.60')),
 (30, Decimal('96.30')),
 (49, Decimal('77.05')),
 (21, Decimal('99.58')),
 (29, Decimal('32.82')),
 (31, Decimal('89.38')),
 (49, Decimal('52.83')),
 (41, Decimal('151.88')),
 (46, Decimal('91.18')),
 (20, Decimal('52.47')),
 (20, Decimal('101.58')),
 (30, Decimal('81.35')),
 (29, Decimal('93.49')),
 (37, Decimal('186.44')),
 (26, Decimal('131.49')),
 (38, Decimal('118.90')),
 (32, Decimal('95.67')),
 (46, Decimal('51.05')),
 (40, Decimal('100.50')),
 (29, Decimal('40.25')),
 (47, Decimal('118.84')),
 (26, Decimal('87.64')),
 (28, Decimal('62.05')),
 (36, Decimal('101.15')),
 (21, Decimal('114.95')),
 (39, Decimal('160.46')),
 (47, Decimal('103.09')),
 (34, Decimal('143.94')),
 (20, Decimal('50.86')),
 (21, Decimal('32.18')),
 (40, Decimal('104.09')),
 (24, Decimal('53.03')),
 (44, Decimal('94.92')),
 (33, Decimal('166.24')),
 (33, Decimal('140.50')),
 (46, Decimal('167.83')),
 (47, Decimal('129.76')),
 (22, Decimal('95.80')),
 (24, Decimal('122.08')),
 (24, Decimal('79.87')),
 (33, Decimal('114.29')),
 (49, Decimal('74.35')),
 (42, Decimal('60.90')),
 (42, Decimal('56.24')),
 (41, Decimal('55.34')),
 (43, Decimal('77.08')),
 (21, Decimal('92.16')),
 (38, Decimal('91.37')),
 (39, Decimal('46.96')),
 (49, Decimal('133.28')),
 (32, Decimal('126.15')),
 (46, Decimal('70.54')),
 (34, Decimal('99.52')),
 (27, Decimal('63.71')),
 (33, Decimal('59.83')),
 (23, Decimal('74.64')),
 (28, Decimal('55.96')),
 (34, Decimal('34.91')),
 (36, Decimal('86.77')),
 (26, Decimal('87.80')),
 (26, Decimal('79.78')),
 (31, Decimal('69.39')),
 (28, Decimal('70.40')),
 (34, Decimal('65.15')),
 (37, Decimal('49.66')),
 (20, Decimal('56.41')),
 (45, Decimal('76.56')),
 (37, Decimal('104.67')),
 (33, Decimal('154.93')),
 (49, Decimal('146.10')),
 (30, Decimal('71.81')),
 (30, Decimal('52.70')),
 (43, Decimal('103.68')),
 (40, Decimal('87.54')),
 (47, Decimal('63.98')),
 (27, Decimal('56.10')),
 (33, Decimal('71.73')),
 (33, Decimal('99.89')),
 (31, Decimal('39.43')),
 (27, Decimal('95.93')),
 (38, Decimal('73.22')),
 (20, Decimal('113.90')),
 (47, Decimal('60.30')),
 (29, Decimal('130.94')),
 (48, Decimal('161.49')),
 (31, Decimal('110.39')),
 (21, Decimal('74.21')),
 (33, Decimal('97.89')),
 (26, Decimal('70.84')),
 (36, Decimal('74.78')),
 (37, Decimal('129.35')),
 (25, Decimal('33.23')),
 (30, Decimal('48.98')),
 (23, Decimal('123.58')),
 (31, Decimal('72.76')),
 (23, Decimal('114.65')),
 (47, Decimal('108.26')),
 (25, Decimal('136.56')),
 (27, Decimal('113.52')),
 (32, Decimal('143.94')),
 (28, Decimal('135.63')),
 (34, Decimal('83.75')),
 (29, Decimal('66.28')),
 (25, Decimal('65.41')),
 (47, Decimal('46.29')),
 (21, Decimal('77.24')),
 (34, Decimal('115.09')),
 (31, Decimal('71.91')),
 (27, Decimal('96.37')),
 (50, Decimal('87.33')),
 (30, Decimal('48.52')),
 (34, Decimal('156.40')),
 (24, Decimal('50.85')),
 (33, Decimal('125.86')),
 (23, Decimal('167.06')),
 (42, Decimal('89.29')),
 (36, Decimal('31.20')),
 (49, Decimal('39.87')),
 (26, Decimal('38.57')),
 (20, Decimal('90.57')),
 (45, Decimal('182.16')),
 (20, Decimal('121.15')),
 (30, Decimal('135.30')),
 (34, Decimal('95.67')),
 (47, Decimal('93.21')),
 (30, Decimal('56.21')),
 (26, Decimal('97.39')),
 (49, Decimal('111.39')),
 (30, Decimal('47.29')),
 (49, Decimal('62.05')),
 (20, Decimal('95.08')),
 (24, Decimal('114.95')),
 (43, Decimal('152.27')),
 (49, Decimal('106.78')),
 (39, Decimal('58.34')),
 (21, Decimal('167.65')),
 (42, Decimal('109.90')),
 (30, Decimal('29.35')),
 (27, Decimal('84.75')),
 (41, Decimal('43.29')),
 (26, Decimal('108.81')),
 (35, Decimal('117.77')),
 (25, Decimal('49.13')),
 (23, Decimal('112.37')),
 (33, Decimal('57.17')),
 (20, Decimal('201.57')),
 (42, Decimal('128.42')),
 (49, Decimal('155.72')),
 (31, Decimal('125.66')),
 (29, Decimal('82.69')),
 (22, Decimal('82.50')),
 (40, Decimal('111.83')),
 (31, Decimal('53.31')),
 (43, Decimal('58.00')),
 (31, Decimal('80.55')),
 (50, Decimal('87.15')),
 (20, Decimal('85.41')),
 (50, Decimal('51.87')),
 (31, Decimal('75.23')),
 (36, Decimal('59.27')),
 (32, Decimal('129.20')),
 (38, Decimal('138.77')),
 (44, Decimal('83.44')),
 (29, Decimal('105.87')),
 (23, Decimal('62.34')),
 (34, Decimal('56.55')),
 (37, Decimal('76.31')),
 (44, Decimal('58.69')),
 (32, Decimal('89.61')),
 (20, Decimal('87.75')),
 (43, Decimal('76.80')),
 (44, Decimal('70.33')),
 (34, Decimal('49.16')),
 (20, Decimal('43.64')),
 (48, Decimal('77.64')),
 (33, Decimal('69.27')),
 (40, Decimal('89.72')),
 (33, Decimal('66.65')),
 (34, Decimal('83.91')),
 (28, Decimal('56.41')),
 (48, Decimal('109.16')),
 (22, Decimal('67.79')),
 (49, Decimal('81.35')),
 (37, Decimal('101.10')),
 (22, Decimal('170.42')),
 (41, Decimal('188.73')),
 (38, Decimal('131.04')),
 (24, Decimal('67.03')),
 (42, Decimal('51.48')),
 (21, Decimal('66.74')),
 (25, Decimal('129.35')),
 (21, Decimal('54.71')),
 (32, Decimal('142.85')),
 (44, Decimal('100.30')),
 (27, Decimal('67.18')),
 (50, Decimal('49.60')),
 (23, Decimal('80.84')),
 (35, Decimal('39.43')),
 (23, Decimal('86.74')),
 (31, Decimal('78.11')),
 (46, Decimal('96.30')),
 (50, Decimal('93.28')),
 (38, Decimal('70.84')),
 (20, Decimal('140.55')),
 (42, Decimal('30.59')),
 (35, Decimal('130.60')),
 (28, Decimal('121.72')),
 (43, Decimal('102.04')),
 (48, Decimal('139.41')),
 (23, Decimal('125.40')),
 (36, Decimal('132.80')),
 (25, Decimal('62.72')),
 (37, Decimal('73.49')),
 (23, Decimal('47.29')),
 (20, Decimal('82.69')),
 (25, Decimal('108.04')),
 (20, Decimal('72.77')),
 (30, Decimal('94.23')),
 (48, Decimal('87.33')),
 (45, Decimal('45.28')),
 (29, Decimal('141.10')),
 (27, Decimal('53.28')),
 (38, Decimal('113.15')),
 (48, Decimal('156.94')),
 (39, Decimal('86.51')),
 (37, Decimal('27.55')),
 (43, Decimal('38.98')),
 (37, Decimal('32.82')),
 (21, Decimal('212.16')),
 (31, Decimal('101.31')),
 (48, Decimal('59.96')),
 (40, Decimal('101.58')),
 (43, Decimal('80.36')),
 (42, Decimal('96.42')),
 (21, Decimal('143.31')),
 (49, Decimal('121.64')),
 (36, Decimal('103.84')),
 (45, Decimal('107.76')),
 (25, Decimal('46.29')),
 (24, Decimal('91.49')),
 (49, Decimal('57.53')),
 (39, Decimal('86.99')),
 (44, Decimal('168.32')),
 (34, Decimal('123.89')),
 (27, Decimal('152.26')),
 (48, Decimal('109.02')),
 (29, Decimal('134.26')),
 (46, Decimal('120.28')),
 (31, Decimal('60.77')),
 (47, Decimal('154.10')),
 (50, Decimal('84.71')),
 (28, Decimal('123.51')),
 (25, Decimal('46.82')),
 (32, Decimal('117.57')),
 (27, Decimal('31.12')),
 (24, Decimal('106.45')),
 (48, Decimal('50.86')),
 (44, Decimal('55.30')),
 (48, Decimal('106.49')),
 (38, Decimal('49.21')),
 (43, Decimal('136.59')),
 (26, Decimal('72.85')),
 (29, Decimal('76.22')),
 (44, Decimal('123.76')),
 (43, Decimal('141.92')),
 (46, Decimal('69.68')),
 (34, Decimal('84.70')),
 (33, Decimal('110.60')),
 (21, Decimal('54.81')),
 (20, Decimal('77.00')),
 (32, Decimal('64.44')),
 (29, Decimal('73.80')),
 (43, Decimal('66.00')),
 (29, Decimal('87.80')),
 (46, Decimal('62.16')),
 (24, Decimal('85.14')),
 (28, Decimal('83.42')),
 (40, Decimal('42.71')),
 (38, Decimal('43.68')),
 (36, Decimal('94.74')),
 (27, Decimal('97.53')),
 (20, Decimal('160.74')),
 (21, Decimal('75.19')),
 (46, Decimal('49.06')),
 (50, Decimal('103.68')),
 (49, Decimal('93.01')),
 (29, Decimal('72.36')),
 (27, Decimal('57.32')),
 (48, Decimal('68.10')),
 (28, Decimal('89.90')),
 (31, Decimal('57.78')),
 (48, Decimal('39.71')),
 (28, Decimal('91.34')),
 (31, Decimal('87.75')),
 (36, Decimal('94.92')),
 (48, Decimal('72.00')),
 (39, Decimal('67.37')),
 (30, Decimal('163.44')),
 (35, Decimal('126.52')),
 (36, Decimal('71.82')),
 (32, Decimal('65.13')),
 (36, Decimal('136.70')),
 (38, Decimal('52.84')),
 (33, Decimal('120.53')),
 (38, Decimal('66.49')),
 (34, Decimal('53.27')),
 (24, Decimal('77.61')),
 (26, Decimal('37.01')),
 (34, Decimal('83.68')),
 (48, Decimal('75.66')),
 (47, Decimal('116.27')),
 (41, Decimal('93.28')),
 (20, Decimal('70.07')),
 (34, Decimal('130.60')),
 (35, Decimal('134.46')),
 (35, Decimal('128.03')),
 (39, Decimal('165.95')),
 (36, Decimal('34.74')),
 (42, Decimal('109.51')),
 (39, Decimal('117.48')),
 (48, Decimal('139.87')),
 (32, Decimal('61.00')),
 (34, Decimal('43.27')),
 (22, Decimal('79.97')),
 (24, Decimal('77.91')),
 (22, Decimal('87.81')),
 (43, Decimal('101.71')),
 (48, Decimal('51.75')),
 (24, Decimal('168.30')),
 (26, Decimal('55.09')),
 (31, Decimal('127.13')),
 (22, Decimal('140.06')),
 (28, Decimal('56.84')),
 (31, Decimal('86.92')),
 (29, Decimal('90.28')),
 (21, Decimal('77.31')),
 (39, Decimal('58.44')),
 (31, Decimal('29.87')),
 (27, Decimal('39.42')),
 (23, Decimal('98.65')),
 (35, Decimal('35.70')),
 (22, Decimal('93.49')),
 (34, Decimal('207.87')),
 (43, Decimal('113.44')),
 (48, Decimal('108.50')),
 (46, Decimal('100.30')),
 (49, Decimal('44.27')),
 (33, Decimal('119.67')),
 (26, Decimal('109.02')),
 (48, Decimal('101.87')),
 (41, Decimal('59.55')),
 (29, Decimal('150.71')),
 (47, Decimal('102.92')),
 (28, Decimal('121.40')),
 (37, Decimal('32.18')),
 (22, Decimal('89.57')),
 (50, Decimal('50.86')),
 (29, Decimal('56.24')),
 (42, Decimal('80.92')),
 (33, Decimal('166.24')),
 (47, Decimal('145.04')),
 (50, Decimal('160.91')),
 (20, Decimal('139.17')),
 (36, Decimal('140.75')),
 (27, Decimal('55.49')),
 (29, Decimal('101.72')),
 (22, Decimal('62.14')),
 (23, Decimal('109.96')),
 (38, Decimal('52.14')),
 (23, Decimal('113.37')),
 (29, Decimal('92.77')),
 (35, Decimal('82.50')),
 (50, Decimal('115.52')),
 (45, Decimal('79.66')),
 (24, Decimal('58.67')),
 (31, Decimal('77.95')),
 (32, Decimal('64.33')),
 (44, Decimal('88.15')),
 (24, Decimal('83.42')),
 (40, Decimal('52.96')),
 (24, Decimal('131.92')),
 (42, Decimal('127.73')),
 (41, Decimal('70.54')),
 (48, Decimal('104.81')),
 (34, Decimal('67.82')),
 (27, Decimal('65.75')),
 (21, Decimal('68.77')),
 (30, Decimal('64.15')),
 (34, Decimal('86.90')),
 (22, Decimal('91.74')),
 (45, Decimal('68.11')),
 (45, Decimal('41.71')),
 (24, Decimal('82.79')),
 (47, Decimal('105.04')),
 (27, Decimal('66.65')),
 (45, Decimal('86.90')),
 (24, Decimal('63.97')),
 (34, Decimal('43.20')),
 (23, Decimal('75.81')),
 (25, Decimal('98.48')),
 (39, Decimal('80.00')),
 (29, Decimal('76.56')),
 (42, Decimal('99.91')),
 (41, Decimal('164.61')),
 (40, Decimal('131.04')),
 (25, Decimal('48.46')),
 (21, Decimal('59.06')),
 (44, Decimal('147.31')),
 (48, Decimal('98.05')),
 (28, Decimal('61.70')),
 (35, Decimal('60.95')),
 (28, Decimal('68.71')),
 (34, Decimal('33.39')),
 (22, Decimal('102.05')),
 (21, Decimal('74.85')),
 (27, Decimal('155.66')),
 (28, Decimal('113.92')),
 (20, Decimal('67.03')),
 (36, Decimal('107.10')),
 (44, Decimal('124.56')),
 (42, Decimal('124.44')),
 (22, Decimal('74.69')),
 (21, Decimal('129.45')),
 (27, Decimal('130.68')),
 (45, Decimal('147.33')),
 (30, Decimal('73.17')),
 (22, Decimal('120.53')),
 (39, Decimal('137.04')),
 (34, Decimal('45.28')),
 (37, Decimal('32.85')),
 (23, Decimal('54.49')),
 (25, Decimal('122.17')),
 (25, Decimal('83.22')),
 (32, Decimal('44.21')),
 (44, Decimal('159.80')),
 (38, Decimal('54.49')),
 (20, Decimal('105.52')),
 (21, Decimal('135.00')),
 (33, Decimal('86.31')),
 (36, Decimal('88.35')),
 (44, Decimal('61.29')),
 (47, Decimal('63.20')),
 (39, Decimal('31.86')),
 (31, Decimal('39.87')),
 (36, Decimal('87.24')),
 (20, Decimal('116.27')),
 (33, Decimal('73.62')),
 (49, Decimal('95.30')),
 (23, Decimal('34.88')),
 (23, Decimal('180.01')),
 (28, Decimal('127.06')),
 (41, Decimal('114.80')),
 (21, Decimal('108.50')),
 (37, Decimal('91.18')),
 (39, Decimal('51.22')),
 (22, Decimal('90.06')),

What are some possible dimensions? Two obvious ones are:
1. Where
2. When

In [7]:
%%sql

create table date_dimension as 
    select distinct
        orderDate as dimension_id,
            year(orderDate) as  fact_year,
            quarter(orderDate) as fact_quarter,
            month(orderDate) as fact_month,
            dayofmonth(orderDate) as fact_day
from core_info;

 * mysql+pymysql://root:***@localhost
265 rows affected.

[]

In [8]:
df = pandas.read_csv("./Countries-Continents.csv")
df

         Continent    Country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

In [15]:
df.to_sql(
    'countries_continents',
    schema='classic_models_olap_simple',
    if_exists='replace',
    index=False,
    con=default_engine
)

194

In [18]:
%%sql

drop table if exists location_dimension;

create table location_dimension
(
    location_fact_id int auto_increment primary key,
    continent        varchar(32) null,
    country varchar(32),
    state varchar(32),
    city varchar(32)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

In [19]:
%%sql

insert into location_dimension(country, state, city)
    select distinct country, state, city
        from core_info;

 * mysql+pymysql://root:***@localhost
79 rows affected.

[]

In [20]:
%%sql

select * from location_dimension where country not in (select country from countries_continents);

 * mysql+pymysql://root:***@localhost
31 rows affected.

[(1, None, 'USA', 'NH', 'Nashua'),
 (3, None, 'USA', 'NY', 'NYC'),
 (9, None, 'USA', 'PA', 'Philadelphia'),
 (10, None, 'UK', None, 'Manchester'),
 (11, None, 'USA', 'CA', 'San Francisco'),
 (13, None, 'USA', 'CA', 'San Rafael'),
 (23, None, 'USA', 'NV', 'Las Vegas'),
 (24, None, 'UK', None, 'London'),
 (25, None, 'USA', 'MA', 'Brickhaven'),
 (26, None, 'USA', 'CT', 'Glendale'),
 (30, None, 'USA', 'CA', 'Burlingame'),
 (32, None, 'USA', 'MA', 'New Bedford'),
 (33, None, 'USA', 'CA', 'Pasadena'),
 (35, None, 'USA', 'CA', 'Brisbane'),
 (38, None, 'USA', 'CA', 'Glendale'),
 (41, None, 'USA', 'CA', 'Los Angeles'),
 (46, None, 'USA', 'CT', 'Bridgewater'),
 (49, None, 'Norway  ', None, 'Bergen'),
 (51, None, 'Hong Kong', None, 'Central Hong Kong'),
 (55, None, 'USA', 'NY', 'White Plains'),
 (56, None, 'USA', 'CT', 'New Haven'),
 (57, None, 'USA', 'CA', 'Burbank'),
 (60, None, 'USA', 'MA', 'Boston'),
 (65, None, 'USA', 'CA', 'San Diego'),
 (67, None, 'USA', 'MA', 'Cambridge'),
 (68, None, 'UK', 'Isle of Wight', 'Cowes'),
 (69, None, 'USA', 'NJ', 'Newark'),
 (73, None, 'USA', 'CA', 'San Jose'),
 (74, None, 'UK', None, 'Liverpool'),
 (76, None, 'USA', 'PA', 'Allentown'),
 (78, None, 'Norway  ', None, 'Oslo')]

I have been to this cleanup party in previous semesters.

In [25]:
%%sql

update core_info set country="US" where country="USA";
update core_info set country="Norway" where country like "%Norway%";
update core_info set country="United Kingdom" where country="UK";
update core_info set country="China" where country="Hong Kong";

 * mysql+pymysql://root:***@localhost
0 rows affected.
85 rows affected.
0 rows affected.
16 rows affected.

[]

In [26]:
%%sql

drop table if exists location_dimension;

create table location_dimension
(
    location_fact_id int auto_increment primary key,
    continent        varchar(32) null,
    country varchar(32),
    state varchar(32),
    city varchar(32)
);

insert into location_dimension(country, state, city)
    select distinct country, state, city
        from core_info;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
79 rows affected.

[]

In [27]:
%%sql

select * from location_dimension where country not in (select country from countries_continents);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

I am not going to worry about the "product dimensions."

In [31]:
%%sql

update location_dimension
    set continent = (select continent from countries_continents
        where countries_continents.country=location_dimension.country)

 * mysql+pymysql://root:***@localhost
79 rows affected.

[]

In [32]:
%sql select * from location_dimension;

 * mysql+pymysql://root:***@localhost
79 rows affected.

[(1, 'North America', 'US', 'NH', 'Nashua'),
 (2, 'Europe', 'Germany', None, 'Frankfurt'),
 (3, 'North America', 'US', 'NY', 'NYC'),
 (4, 'Europe', 'Norway', None, 'Stavern'),
 (5, 'Europe', 'Spain', None, 'Madrid'),
 (6, 'Europe', 'Denmark', None, 'Kobenhavn'),
 (7, 'Europe', 'Italy', None, 'Bergamo'),
 (8, 'Asia', 'Philippines', None, 'Makati City'),
 (9, 'North America', 'US', 'PA', 'Philadelphia'),
 (10, 'Europe', 'United Kingdom', None, 'Manchester'),
 (11, 'North America', 'US', 'CA', 'San Francisco'),
 (12, 'Europe', 'Sweden', None, 'Luleå'),
 (13, 'North America', 'US', 'CA', 'San Rafael'),
 (14, 'Europe', 'France', None, 'Paris'),
 (15, 'Europe', 'Belgium', None, 'Charleroi'),
 (16, 'Asia', 'Singapore', None, 'Singapore'),
 (17, 'Europe', 'Spain', None, 'Barcelona'),
 (18, 'Europe', 'Austria', None, 'Salzburg'),
 (19, 'Oceania', 'Australia', 'Victoria', 'Melbourne'),
 (20, 'Europe', 'France', None, 'Reims'),
 (21, 'Europe', 'France', None, 'Marseille'),
 (22, 'Europe', 'France', None, 'Nantes'),
 (23, 'North America', 'US', 'NV', 'Las Vegas'),
 (24, 'Europe', 'United Kingdom', None, 'London'),
 (25, 'North America', 'US', 'MA', 'Brickhaven'),
 (26, 'North America', 'US', 'CT', 'Glendale'),
 (27, 'Oceania', 'New Zealand', None, 'Auckland  '),
 (28, 'Europe', 'France', None, 'Toulouse'),
 (29, 'Oceania', 'Australia', 'NSW', 'Chatswood'),
 (30, 'North America', 'US', 'CA', 'Burlingame'),
 (31, 'Europe', 'Finland', None, 'Espoo'),
 (32, 'North America', 'US', 'MA', 'New Bedford'),
 (33, 'North America', 'US', 'CA', 'Pasadena'),
 (34, 'Oceania', 'Australia', 'NSW', 'North Sydney'),
 (35, 'North America', 'US', 'CA', 'Brisbane'),
 (36, 'Europe', 'Finland', None, 'Oulu'),
 (37, 'Oceania', 'Australia', 'Queensland', 'South Brisbane'),
 (38, 'North America', 'US', 'CA', 'Glendale'),
 (39, 'Europe', 'Finland', None, 'Helsinki'),
 (40, 'Europe', 'Italy', None, 'Milan'),
 (41, 'North America', 'US', 'CA', 'Los Angeles'),
 (42, 'Europe', 'Denmark', None, 'Århus'),
 (43, 'Europe', 'Austria', None, 'Graz'),
 (44, 'Europe', 'Sweden', None, 'Bräcke'),
 (45, 'North America', 'Canada', 'Québec', 'Montréal'),
 (46, 'North America', 'US', 'CT', 'Bridgewater'),
 (47, 'Europe', 'Italy', None, 'Reggio Emilia'),
 (48, 'Europe', 'France', None, 'Lille'),
 (49, 'Europe', 'Norway', None, 'Bergen'),
 (50, 'Europe', 'Spain', None, 'Sevilla'),
 (51, 'Asia', 'China', None, 'Central Hong Kong'),
 (52, 'Europe', 'Germany', None, 'Köln'),
 (53, 'Oceania', 'Australia', 'Victoria', 'Glen Waverly'),
 (54, 'Europe', 'France', None, 'Lyon'),
 (55, 'North America', 'US', 'NY', 'White Plains'),
 (56, 'North America', 'US', 'CT', 'New Haven'),
 (57, 'North America', 'US', 'CA', 'Burbank'),
 (58, 'Oceania', 'New Zealand', None, 'Auckland'),
 (59, 'North America', 'Canada', 'BC', 'Vancouver'),
 (60, 'North America', 'US', 'MA', 'Boston'),
 (61, 'Asia', 'Japan', 'Osaka', 'Kita-ku'),
 (62, 'Europe', 'France', None, 'Versailles'),
 (63, 'Europe', 'Ireland', None, 'Dublin'),
 (64, 'Europe', 'Belgium', None, 'Bruxelles'),
 (65, 'North America', 'US', 'CA', 'San Diego'),
 (66, 'Europe', 'Switzerland', None, 'Genève'),
 (67, 'North America', 'US', 'MA', 'Cambridge'),
 (68, 'Europe', 'United Kingdom', 'Isle of Wight', 'Cowes'),
 (69, 'North America', 'US', 'NJ', 'Newark'),
 (70, 'Oceania', 'New Zealand', None, 'Wellington'),
 (71, 'North America', 'Canada', 'BC', 'Tsawassen'),
 (72, 'Europe', 'France', None, 'Strasbourg'),
 (73, 'North America', 'US', 'CA', 'San Jose'),
 (74, 'Europe', 'United Kingdom', None, 'Liverpool'),
 (75, 'Asia', 'Japan', 'Tokyo', 'Minato-ku'),
 (76, 'North America', 'US', 'PA', 'Allentown'),
 (77, 'Europe', 'Italy', None, 'Torino'),
 (78, 'Europe', 'Norway', None, 'Oslo'),
 (79, 'Europe', 'Germany', None, 'Munich')]

In [35]:
%%sql

create table core_facts as
with one as (
    select
        location_fact_id, continent, country, state, city,
            orderDate, quantityOrdered, priceEach
    from
        core_info join location_dimension using(country, state, city)
)
    select location_fact_id, orderDate, quantityOrdered, priceEach from one;

 * mysql+pymysql://root:***@localhost
1337 rows affected.

[]

What's an interesting query?

In [37]:
%%sql

with one as (
    select continent, orderDate, quantityOrdered, priceEach from location_dimension join core_facts using (location_fact_id)
),
    two as (
        select fact_year, fact_quarter, fact_month, continent, priceEach, quantityOrdered from
                                                                                one join date_dimension
                                                                            on dimension_id=orderDate

    )
select sum(quantityOrdered*priceEach) as revenue, fact_year, fact_quarter, fact_month, continent
    from two
group by continent, fact_year, fact_quarter, fact_month
order by continent, fact_year, fact_quarter, fact_month;

 * mysql+pymysql://root:***@localhost
50 rows affected.

[(Decimal('47177.59'), 2004, 1, 1, 'Asia'),
 (Decimal('15183.63'), 2004, 2, 4, 'Asia'),
 (Decimal('22037.91'), 2004, 2, 6, 'Asia'),
 (Decimal('48927.64'), 2004, 4, 11, 'Asia'),
 (Decimal('33967.73'), 2005, 1, 1, 'Asia'),
 (Decimal('615.45'), 2005, 2, 4, 'Asia'),
 (Decimal('24995.61'), 2004, 1, 3, 'Europe'),
 (Decimal('46788.14'), 2004, 4, 11, 'Europe'),
 (Decimal('15718.61'), 2003, 1, 1, 'North America'),
 (Decimal('22292.62'), 2003, 1, 2, 'North America'),
 (Decimal('53415.29'), 2003, 1, 3, 'North America'),
 (Decimal('21665.98'), 2003, 2, 4, 'North America'),
 (Decimal('32641.98'), 2003, 2, 5, 'North America'),
 (Decimal('81910.60'), 2003, 2, 6, 'North America'),
 (Decimal('94276.97'), 2003, 3, 7, 'North America'),
 (Decimal('147412.05'), 2003, 3, 8, 'North America'),
 (Decimal('69308.76'), 2003, 3, 9, 'North America'),
 (Decimal('193241.34'), 2003, 4, 10, 'North America'),
 (Decimal('307565.38'), 2003, 4, 11, 'North America'),
 (Decimal('186188.46'), 2003, 4, 12, 'North America'),
 (Decimal('57124.16'), 2004, 1, 1, 'North America'),
 (Decimal('92948.52'), 2004, 1, 2, 'North America'),
 (Decimal('70903.20'), 2004, 1, 3, 'North America'),
 (Decimal('65742.68'), 2004, 2, 4, 'North America'),
 (Decimal('159429.06'), 2004, 2, 5, 'North America'),
 (Decimal('100269.23'), 2004, 2, 6, 'North America'),
 (Decimal('93991.54'), 2004, 3, 7, 'North America'),
 (Decimal('252783.77'), 2004, 3, 8, 'North America'),
 (Decimal('60664.69'), 2004, 3, 9, 'North America'),
 (Decimal('202318.39'), 2004, 4, 10, 'North America'),
 (Decimal('377124.68'), 2004, 4, 11, 'North America'),
 (Decimal('116603.76'), 2004, 4, 12, 'North America'),
 (Decimal('137915.19'), 2005, 1, 1, 'North America'),
 (Decimal('102466.71'), 2005, 1, 2, 'North America'),
 (Decimal('113891.81'), 2005, 1, 3, 'North America'),
 (Decimal('127509.93'), 2005, 2, 4, 'North America'),
 (Decimal('121866.55'), 2005, 2, 5, 'North America'),
 (Decimal('45864.03'), 2003, 2, 4, 'Oceania'),
 (Decimal('7565.08'), 2003, 2, 5, 'Oceania'),
 (Decimal('24013.52'), 2003, 3, 7, 'Oceania'),
 (Decimal('51376.05'), 2003, 3, 9, 'Oceania'),
 (Decimal('97989.35'), 2003, 4, 11, 'Oceania'),
 (Decimal('44894.74'), 2004, 1, 2, 'Oceania'),
 (Decimal('45221.86'), 2004, 3, 7, 'Oceania'),
 (Decimal('82261.22'), 2004, 4, 11, 'Oceania'),
 (Decimal('31835.36'), 2004, 4, 12, 'Oceania'),
 (Decimal('27083.78'), 2005, 1, 1, 'Oceania'),
 (Decimal('21432.31'), 2005, 1, 2, 'Oceania'),
 (Decimal('29848.52'), 2005, 1, 3, 'Oceania'),
 (Decimal('53196.77'), 2005, 2, 5, 'Oceania')]

What would be an example of a roll up?

In [38]:
%%sql

with one as (
    select continent, orderDate, quantityOrdered, priceEach from location_dimension join core_facts using (location_fact_id)
),
    two as (
        select fact_year, fact_quarter, fact_month, continent, priceEach, quantityOrdered from
                                                                                one join date_dimension
                                                                            on dimension_id=orderDate

    ),
three as (
    select sum(quantityOrdered*priceEach) as revenue, fact_year, fact_quarter, fact_month, continent
        from two
    group by continent, fact_year, fact_quarter, fact_month
    order by continent, fact_year, fact_quarter, fact_month
)
    select sum(revenue) as revenue, fact_year, continent from three group by fact_year, continent
        order by continent, fact_year;

 * mysql+pymysql://root:***@localhost
9 rows affected.

[(Decimal('133326.77'), 2004, 'Asia'),
 (Decimal('34583.18'), 2005, 'Asia'),
 (Decimal('71783.75'), 2004, 'Europe'),
 (Decimal('1225638.04'), 2003, 'North America'),
 (Decimal('1649903.68'), 2004, 'North America'),
 (Decimal('603650.19'), 2005, 'North America'),
 (Decimal('226808.03'), 2003, 'Oceania'),
 (Decimal('204213.18'), 2004, 'Oceania'),
 (Decimal('131561.38'), 2005, 'Oceania')]

# IMDB Examples

## IMDB Dataset

Homework 3b and 4b are a mix of data engineering and application of database concepts to scenarios.

One of the inout datasets is the non-commercial [IMDB dataset.](https://developer.imdb.com/non-commercial-datasets/).

These datasets are trivial compared to real datasets, but too large for many students' personal computers.

So, I pared them down to better only contain data relevant to the other dataset, which is the [Game of Thrones dataset](https://github.com/jeffreylancaster/game-of-thrones).

In [ ]:
%sql use f24_imdb_clean;

In [ ]:
%sql select * from got_imdb_name_basics limit 10;

In [ ]:
%sql select * from got_imdb_title_basics limit 10;

In [ ]:
%sql select * from got_imdb_title_principals limit 10;

## GoT Dataset

The GoT datasets are in JSON format, which is very document-like.


So, I loaded the data into MongoDB. I will give you the code so that you can do the loading.

In [ ]:
got_characters = list(mongo_client.F24_GoT.characters.find())

In [ ]:
keys = set()

for c in got_characters:
    new_keys = c.keys()
    keys = keys.union(set(new_keys))

keys

Some of these fields are "relationships" to other characters and some are properties of the character.


The relevant information relative to IMDB name_basics is:

In [ ]:
got_characters = list(
    mongo_client.F24_GoT.characters.find(
        {},
        {
            "actorName": 1,
            "actorLink": 1,
            "charactersImageFull": 1,
            "characterImageThumb": 1,
            "characterName": 1,
            "kingsguard": 1,
            "nickname": 1,
            "royal": 1,
            "_id": 0
        }
    ))
got_characters_df = pandas.DataFrame(got_characters)
got_characters_df = got_characters_df.replace({numpy.nan: None})
got_characters_df

In [ ]:
got_characters_df

There is also a relationship to "episodes."

In [ ]:
got_episodes = list(
    mongo_client.F24_GoT.episodes.find(
        {},
        {
            "seasonNum": 1,
            "episodeNum": 1,
            "episodeTitle": 1,
            "episodeLink": 1,
            "episodeAirDate": 1,
            "episodeDescription": 1,
            "_id": 0
        }
    ))
got_episodes_df = pandas.DataFrame(got_episodes)
got_episodes_df = got_episodes_df.replace({numpy.nan: None})
got_ep_df

# What Does this Have to Do with Normalization?

The obvious thing is that many of these fields are not atomic, and thus violate 1NF.

Part of HW3a, specifically the data engineering part, is going to be to integrate and cleanup this data.

We will discuss.

# Another Interesting Example We Have Seen

In [ ]:
%sql use classicmodels

In [ ]:
%sql select * from products limit 10;

There is some interesting issues here. Clearly, whenever you see a delimiter like "_" you can suspect not-atomic.

But there is an even more interesting normalization problem.

In [ ]:
%%sql

select
    substr(productCode, 1, 3) as code_prefix,
    substr(productScale, 3) as scale
from
    products
limit 10;

That cannot be a concincidence $\Rightarrow$ ```scale``` is functionally dependent on one of the atomic elements of ```productCode.```

Well, mostly functionally dependent.

In [ ]:
%%sql

select
    substr(productCode, 1, 3) as code_prefix,
    group_concat(distinct substr(productScale, 3)) as scales
from
    products
group by code_prefix
order by length(scales) desc
limit 20;

# Wide Flat Tables

Consider the [Lahman's Baseball Database](https://sabr.org/lahman-database/). The schema is reasonably normalized. 


Career performance information about a player is scattered over several tables for "mostly normalization" reasons.

A typical "decision support" query would want a table that looks like

In [ ]:
%%sql
use lahmansbaseballdb;

with t1 as (
    select playerID, nameLast, nameFirst, yearID, teamID, lgID, G_all as games from people join appearances using(playerID)
),
    two as (
        select t1.*, stint, AB, H, HR, RBI, BB from t1 join batting using(playerID, yearID, teamID, lgID)
    ),
    three as (
        select two.*, G as games_pitched, W, L from two join pitching using(playerID, yearID, teamID, lgID, stint)
    )
select
    playerID, nameLast, nameFirst,
    yearID, teamID, lgID, stint,
    games, ab, h, h/ab as ba, (h + bb)/(ab + bb) as obp, hr, rbi, BB,
    games_pitched, w, l
from three
limit 10;

What is an example? Getting a player's career stats.

In [ ]:
%%sql

with t1 as (
    select playerID, nameLast, nameFirst, yearID, teamID, lgID, G_all as games from people join appearances using(playerID)
),
    two as (
        select t1.*, stint, AB, H, HR, RBI, BB from t1 join batting using(playerID, yearID, teamID, lgID)
    ),
    three as (
        select two.*, G as games_pitched, W, L from two join pitching using(playerID, yearID, teamID, lgID, stint)
    ),
    four as (
        select
            playerID, nameLast, nameFirst,
            yearID, teamID, lgID, stint,
            games, ab, h, h/ab as ba, hr, rbi, BB,
            games_pitched, w, l
        from
            three
            )
select
    playerID, nameLast, nameFirst, sum(games) as games, sum(H) as h, sum(AB) as ab, (sum(H)/sum(ab)) as ba,
    sum(games_pitched) as games_pitched, sum(w) as w, sum(l) as l
from
    four
where playerID = 'willite01';

Common queries in domains like this requires lots and lots of denormalizing joins.